<div *ngIf="data">
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th *ngFor="let title of table.th" scope="col">{{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let values of data | slice: (page-1) * pageSize : page * pageSize">
                <td class="text-center">{{values.date}}</td>
                <td class="text-center">{{values.start_time}}</td>
                <td class="text-center">{{values.finish_time}}</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="data.length"></ngb-pagination>
</div>