<div class="container">
    <div class="card mt-4">
        <div class="card-header text-center font-weight-bold">
        Agregar Horario
        </div>
        <div class="card-body">

            <div class="row justify-content-center">
                <div class="alert alert-danger" [hidden]="!error.start_time">{{error.start_time}}</div>
            </div>
            <div class="row justify-content-center">
                <div class="alert alert-danger" [hidden]="!error.finish_time">{{error.finish_time}}</div>
            </div>

            <div class="row justify-content-center">
                <div class="alert alert-danger" [hidden]="!error.rule_id">{{error.rule_id}}</div>
            </div>

            <div class="row justify-content-center">
                <div class="alert alert-danger" [hidden]="!timeInvalid">{{timeInvalid}}</div>
            </div>

            <form #CreateScheduleForm=ngForm (ngSubmit)="onSubmit()" class="form-validation">
                <div class="form-group row justify-content-center">
                    <label for="type" class="col-sm-6 col-form-label text-center font-weight-bold">Tipo Horario:</label>
                    <div class="col-sm-6">
                        <select #select id="type" class="form-control" name="select_rule" (change)="setSelectValue(select.value)">
                            <option hidden selected>Escoge...</option>   
                            <option *ngFor="let rule of rules" [value]="rule.id">{{rule.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="hours" class="col-sm-6 col-form-label text-center font-weight-bold">Hora Inicio:</label>
                    <div class="col-sm-6">
                        <input type="time" id="hours" class="form-control" name="input_hours" [(ngModel)]="scheduleForm.start_time">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="hours" class="col-sm-6 col-form-label text-center font-weight-bold">Hora Fin:</label>
                    <div class="col-sm-6">
                        <input type="time" id="hours" class="form-control" name="input_hours" [(ngModel)]="scheduleForm.finish_time">
                    </div>
                </div>
                <div class="form-group row justify-content-center pt-3">
                    <div class="col-sm-6 text-center pt-2">
                        <app-submit-button [data]="button.add"></app-submit-button>
                    </div>
                    <div class="col-sm-6 text-center pt-2">
                        <app-submit-button [data]="button.getBack" [routerLink]="['/main/configuration/schedules-table']"></app-submit-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>