.bg-color{
  background-color: #00608f;
}

#sidebar-wrapper {
  height: 100vh;
  background-color: white;
  margin-left: 0;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  width: 10.75rem;
}

#sidebar-wrapper .sidebar-heading img {
  width: 12.5rem;
  height: 7.5rem;
}

#sidebar-wrapper .list-group {
  width: 13rem;
}

#page-content-wrapper {
  background: rgb(241,237,237);
  background: linear-gradient(90deg, rgba(241,237,237,1) 0%, rgba(248,248,255,1) 100%, rgba(255,255,255,1) 100%);
  width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#container-fluid {
    background-color: #F0F3F8;
}

.list-group-item:hover{
  background-color: rgb(236, 235, 235);
}


@media (min-width: 48rem) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 15rem;
  }

  #sidebar-wrapper .sidebar-heading {
    width: 12.75rem;
  }

  #sidebar-wrapper .sidebar-heading img {
    width: 12.5rem;
    height: 9.375rem;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}