.action {
    padding: 0rem 0.5rem;
}

.alert {
	font-size: 12px;
	padding: 6px 10px;
	text-align: center;
}

@media only screen and (max-width: 61.563rem) {
    .h3 {
        font-size: 1.5rem;
    }
}