<app-clock></app-clock>

<div class="col-md-12 text-center pt-4 pb-4">
    <div class="btn-group">
        <app-submit-button class="action" (click)="registerStart()" [data]="button.start"></app-submit-button>
        <app-submit-button class="action" (click)="registerFinish()" [data]="button.finish"></app-submit-button>
    </div>
</div>

<div class="row justify-content-center" [hidden]="!message">
    <div *ngIf="message == 'Hora Registrada' || message == 'Observación registrada'" class="alert alert-success">{{message}}</div>
    <div *ngIf="message != 'Hora Registrada' && message != 'Observación registrada'" class="alert alert-danger">{{message}}</div>
</div>

<form *ngIf="observation" #ObservationForm=ngForm (ngSubmit)="addObservation()" class="form-validation">
    <div class="form-group row justify-content-center">
        <label class="col-sm-3 col-form-label text-center font-weight-bold" for="observation">Observación:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control mb-2" id="observation" placeholder="Escribe tu Observación..."
                [(ngModel)]="data_observation.text">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </div>
    </div>
</form>

<h1 class="h3 text-center">Historial de la Hora de Almuerzo</h1>

<div class="row justify-content-center">
    <app-table [data]="history"></app-table>
</div>