.btn-primary {
    background-color: #00608f;
}

.btn-primary:hover{
    background-color: #3C9FFB;
}

@media only screen and (max-width: 46.8rem) {
    .btn {
        width: 8rem;
    }

    .btn-block{
        width: 7.5rem;
    }
}